
input{
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  background-color: #f2f2f2; /* Background color for the input */
  color: #333; /* Text color for the input */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  width: 250px;
  &:focus {
    outline: none;
    background-color: #e6e6e6; /* Background color when input is focused */
  }
}
