.example-form {
  min-width: 200px;
  max-width: 500px;
  position: relative;
  top:30%;
}
.example-text{
  position: relative;
}

mat-label{
  color: rgb(146, 146, 146) !important;
}

.example-full-width{
  width: 300px;
}
