
p{
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #84DCC6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

p:hover{
  background-color: #84DCC6;
  transition: 0.3s;
  color: #222222;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


