
p{
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #00aabc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

p:hover{
  background-color: #00aabc;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


